<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
<!-- Our nav, we imported it through partials  -->
  <%- include('./partials/nav.ejs')  %>
  
      <div class="not-found content">
          <h1>OOPs, page not found! ;)</h1>
      </div>
      <%- include('./partials/footer.ejs') %>
</body>
</html>