<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog GFunkMaster</title>
</head>
<body>

    <nav>
        <div class="site-title">
            <a href="/"> <h1>Blog GFunkMaster</h1></a>
            <p>A GFunkMaster Site</p>
        </div>
    </nav>
    
</body>
</html>